<div class="container">
  <div class="archives">
    <h2>My archives</h2>
  </div>
  <div>
    <% @lists.each do |list| %>
    <ul>
      <li class="list"><%= link_to list.title, list_tasks_path(list) %> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, list_path(list), method: :delete %></li>
    </ul>
    <% end %>
  <%= link_to 'Back to my lists', lists_path %>
</div>
