<h1><%= Time.now.strftime("%d of %B, %Y") %></h1>

<% @lists.each do |list| %>
<ul>
  <li><%= link_to "delete", list_path(list), method: :delete %><%= link_to list.title, list_tasks_path(list) %></li>
</ul>
<% end %>


<%= render 'form' %>


