<div class="container">
  <div class="date">
    <h1><%= Time.now.strftime("%d of %B, %Y") %></h1>
  </div>
  <div>
    <% @lists.each do |list| %>
    <ul>
      <li class="list"><%= link_to list.title, list_tasks_path(list) %> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, list_path(list), method: :delete %></li>
    </ul>
    <% end %>
  </div>
  <div class="form-list">
  <%= render 'form' %>
  </div>
</div>

