<%= simple_form_for ([@list, @task]) do |f|%>
<div class="form-new">
  <div class="list-add">
    <%= f.input_field :content%>
  </div>
  <div class="btn-form-add">
    <%= f.button :submit, '+', class: "btn-add"%>
  </div>
<% end %>
</div>
