// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 56%;
  margin-top: 36px;
  box-shadow: 0 0 8px rgba(48,48,48,0.4);
  padding: 36px;
}

.list {
  padding: 8px;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 48px;
}

.date {
  margin-bottom: 56px;
}
.form-list {
  justify-content: center;
}
