// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task {
  padding: 8px;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 48px;
}
.done {
  text-decoration: line-through;
}
.task-title-grey {
  border-bottom: solid 10px lightgrey;
  width: 220px;
  justify-content: center;
}
.task-title-yellow {
  border-bottom: solid 10px #FFEE93;
  width: 220px;
  justify-content: center;
}
.task-title-green {
  border-bottom: solid 10px #ADF7B6;
  width: 220px;
  justify-content: center;
}
.tasks-list {
  width: 40%;
  margin: auto;
}

.task-delete {
  opacity: 0;
}

.task:hover {
  & .task-delete {
    opacity: 1;
  }
}
